*{  /* normaliza el documento para todos los navegadores web */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.c1 {background-color: aqua;}
.c2{ background-color: chartreuse;}
.c3{background-color: darkgoldenrod;}


/*Estilos C2*/
/*Estilo formulario*/
.c2 {
    padding-bottom: 20px;
}

.c24 {
    padding-bottom: 20px;
    padding-top: 20px;
}




/*Estilos footer*/
.c3 {
    padding-top: 10px;
}

/*Estilos location*/
.logo-location{   
    width: 2vh;
    height: auto;
    filter: brightness(0) invert(1) grayscale(1);
    margin-right: 1vh;
}

.location p{   
     display: inline-block;
    }

/*Estilos whatsapp*/
.logo-whatsapp{   
    width: 3vh;
    height: auto;
    filter: brightness(0) invert(1) grayscale(1);
    margin-right: 0vh;
}    

.contact-info p{   
    display: inline-block;
   }

/*Estilos correo email*/
.logo-correo{
    width: 3vh;
    height: auto;
    filter: brightness(0) invert(1) grayscale(1);
    margin-right: 0vh;
}

.contact-mail  p{   
    display: inline-block;
   }
