/*Estilos C1*/

.logo-image {
    height: 4em;
}

#navbarSupportedContent > ul > a:nth-child(1), #navbarSupportedContent > ul > a:nth-child(2), #navbarSupportedContent > ul > a:nth-child(3), #navbarSupportedContent > ul > a:nth-child(4), #navbarSupportedContent > ul > a:nth-child(5), #navbarSupportedContent > ul > a:nth-child(6){
    font-size: 4vh;
    padding-right: 3vh;
}
#navbarSupportedContent ul {
    margin-right: 20vh;
}
/* Agregar un margen superior a las secciones para compensar la barra de navegación fija */
#home, #about-us, #lines, #our-services, #contact{
    scroll-margin-top: 50px; /* Ajustar este valor según el tamaño de barra de navegación */
  }
/*Estilos C2*/

.c2 {
    width: fit-content;
}


/*Estilos C21*/
.c21 {
    height: 117vh;
}
.bg-dark {
    height: 117vh;
}

.c21 h3 {
    font-size: 6vh;
}
.c21 h1 {
    font-size: 10vh;
}
.c21 .button {
    font-size: 4vh;
}


/*Estilo about-us c22*/
.c22 {
    height: 117vh;
}

#about-us > div > div:nth-child(2) {
    justify-content: flex-start;
}


#lines > div > div:nth-child(2){
    padding-right: 100px;
}
.c22 h2 {
    font-size: 7vh;
}
.c22 p {
    font-size: 3vh;
}

/*Estilo our-services c24*/
.c24 ul {
    font-size: 3vh;
}
.c24 h2 {
    font-size: 10vh;
}
.c24 li{
    margin-bottom: 2vh;
}
#our-services > div > div.col-12.col-md-4.titulo.d-flex.justify-content-center.align-items-center.align-sm-items-start > div {
    height: 50vh;
    margin-top: -250px;
}

/*Estilo contact c25*/
.c25 h2 {
    font-size: 8vh;
    padding-top: 40px;
    margin-bottom: 10px;
}
.c25 h6 {
    font-size: 3vh;
    padding-bottom: 10px;

}

.c25 form{
    font-size: 1vh;
}

.form-control{
    font-size: 1rem;
}

.c25 button{
    font-size: 3vh;
    margin-top: 1vh;
}

/*Estilos footer*/
body > footer{
    width: 100%;
}

footer p{
    font-size: 3vh;
}

.logo-location, .logo-whatsapp, .logo-correo{
    width: 4vh;
}
.c3 {
    padding-top: 87px;
    padding-bottom: 37px;
}