.c2{
    width: 100%;
}


#home{
    width: auto;
}




#about-us > div > div:nth-child(2){
    justify-content: center;
}

#about-us > div{
    width: 90%;
}

#lines > div > div:nth-child(2){
    width: 90%;
}

#our-services > div{
    width: 90%;
}

body > footer{
    width: 90%;
}
